body {
    background: palevioletred;
}

.yalla {
    background-color: #fff;
}

.SmallBox {
    background-color: purple;
    height: 20px;
    margin: 5px
    
}


.TiradBox {
    background-color: pink;
    height: 60px;
    margin: 5px;
    padding : 5px;
}


.Midlebox {
    background-color: blue;
    height: 100px;
    margin: 5px;
    padding : 5px;

}

.BigBox {
    background-color: green;
    height: 120px;
    margin: 5px;
    padding : 5px;
}