body {
    background: thistle;
}

.box{
    padding: 10px;
    margin: 10px;
}
.green {
    background-color: green;
}

.blue {
    background-color:blue;
}


.pink {
    background-color:pink;
}
.purple {
    background-color:purple;
}